data/
/gpfs/home/snagaraja/ATACseqPipeline/core/__pycache__
/gpfs/home/snagaraja/ATACseqPipeline/core/.ipynb_checkpoints
/gpfs/home/snagaraja/ATACseqPipeline/refs
refs/
refs/GCF_000001635.27_GRCm39_genomic.gff
/gpfs/home/snagaraja/ATACseqPipeline/refs/GCF_000001635.27_GRCm39_genomic.gff
